<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tell us about your trip!</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Tell us about your trip!</h1>
    <p>Please answer the following questions:</p>

    
    <form action="/data" method="post">
      What is the average speed in mph? <input type="text" name="speed"><br>
      What is the length of the trip in miles? <input type="text" name="trip_len"><br>
      What is your car type? <input type="text" name="car_type"><br>
      What is the grade? <input type="text" name="grade"><br>
      <input class="send__input" type="submit">
</body>
</html>
